## Harvest

In [1]:
import os
import json
import urllib.request
import pandas as pd
from pandas.io.json import json_normalize
import time

headers = {
    "User-Agent": "TestApp (jroberts@turing.ac.uk)",
    "Authorization": "Bearer " + "1876053.pt.kW-olmE5SC1-2uyJ87d8vcxgyyuAbmam3N9Xmn-h2cy4kzg2YVhS2tLHedJxzaGv7SqbV1dMrqaLGHaCzZPcyw",
    "Harvest-Account-ID": "968445"
}

In [13]:
def api_to_df(table):
    
    url = "https://api.harvestapp.com/v2/"+table
    print(url)
    request = urllib.request.Request(url=url, headers=headers)
    response = urllib.request.urlopen(request, timeout=10)
    responseBody = response.read().decode("utf-8")
    jsonResponse = json.loads(responseBody)
    df = json_normalize(jsonResponse[table])
    print(df.shape)

    while jsonResponse['links']['next'] is not None:
        url = jsonResponse['links']['next']
        print(url)

        request = urllib.request.Request(url=url, headers=headers)
        response = urllib.request.urlopen(request, timeout=10)
        responseBody = response.read().decode("utf-8")
        jsonResponse = json.loads(responseBody)

        new_entries = json_normalize(jsonResponse[table])
        df = df.append(new_entries)
        print(df.shape)
        time.sleep(1)

    return df

In [14]:
time_entries = api_to_df('time_entries')
time_entries.to_csv('data/harvest/time_entries.csv')
time_entries.head()

https://api.harvestapp.com/v2/time_entries
(100, 45)
https://api.harvestapp.com/v2/time_entries?page=2&per_page=100
(200, 45)
https://api.harvestapp.com/v2/time_entries?page=3&per_page=100
(300, 45)
https://api.harvestapp.com/v2/time_entries?page=4&per_page=100
(400, 45)
https://api.harvestapp.com/v2/time_entries?page=5&per_page=100
(500, 45)
https://api.harvestapp.com/v2/time_entries?page=6&per_page=100
(600, 45)
https://api.harvestapp.com/v2/time_entries?page=7&per_page=100
(700, 45)
https://api.harvestapp.com/v2/time_entries?page=8&per_page=100
(800, 45)
https://api.harvestapp.com/v2/time_entries?page=9&per_page=100
(900, 45)
https://api.harvestapp.com/v2/time_entries?page=10&per_page=100
(1000, 45)
https://api.harvestapp.com/v2/time_entries?page=11&per_page=100
(1100, 45)
https://api.harvestapp.com/v2/time_entries?page=12&per_page=100
(1200, 45)
https://api.harvestapp.com/v2/time_entries?page=13&per_page=100
(1300, 45)
https://api.harvestapp.com/v2/time_entries?page=14&per_page=100
(1400, 45)
https://api.harvestapp.com/v2/time_entries?page=15&per_page=100
(1500, 45)
https://api.harvestapp.com/v2/time_entries?page=16&per_page=100
(1600, 45)
https://api.harvestapp.com/v2/time_entries?page=17&per_page=100
(1700, 45)
https://api.harvestapp.com/v2/time_entries?page=18&per_page=100
(1800, 45)
https://api.harvestapp.com/v2/time_entries?page=19&per_page=100
(1900, 45)
https://api.harvestapp.com/v2/time_entries?page=20&per_page=100
(2000, 45)
https://api.harvestapp.com/v2/time_entries?page=21&per_page=100
(2100, 45)
https://api.harvestapp.com/v2/time_entries?page=22&per_page=100
(2200, 45)
https://api.harvestapp.com/v2/time_entries?page=23&per_page=100
(2300, 45)
https://api.harvestapp.com/v2/time_entries?page=24&per_page=100
(2400, 45)
https://api.harvestapp.com/v2/time_entries?page=25&per_page=100
(2500, 45)
https://api.harvestapp.com/v2/time_entries?page=26&per_page=100
(2600, 45)
https://api.harvestapp.com/v2/time_entries?page=27&per_page=100
(2700, 45)
https://api.harvestapp.com/v2/time_entries?page=28&per_page=100
(2800, 45)
https://api.harvestapp.com/v2/time_entries?page=29&per_page=100
(2900, 45)
https://api.harvestapp.com/v2/time_entries?page=30&per_page=100
(2989, 45)

,billable,billable_rate,budgeted,client.currency,client.id,client.name,cost_rate,created_at,ended_time,external_reference,...,user.id,user.name,user_assignment.budget,user_assignment.created_at,user_assignment.hourly_rate,user_assignment.id,user_assignment.is_active,user_assignment.is_project_manager,user_assignment.updated_at,user_assignment.use_default_rates
0,True,None,False,GBP,7394380,Data science for science and the humanities,None,2019-03-13T11:50:04Z,None,None,...,2360121,Giovanni Colavizza,NaN,2018-11-13T22:37:00Z,None,178076070,True,True,2018-11-13T22:37:00Z,False
1,False,None,False,GBP,7236211,Hut 23,None,2019-03-13T11:49:54Z,None,None,...,2360121,Giovanni Colavizza,NaN,2018-11-01T14:37:31Z,None,176449997,True,True,2018-11-01T14:37:31Z,False
2,False,None,False,GBP,7236211,Hut 23,None,2019-03-13T11:49:42Z,None,None,...,2360121,Giovanni Colavizza,NaN,2018-11-01T14:37:31Z,None,176449997,True,True,2018-11-01T14:37:31Z,False
3,True,None,True,GBP,7444895,SPF,None,2019-03-13T16:03:46Z,None,None,...,2463055,Jim Madge,NaN,2018-12-12T16:09:33Z,None,181683342,True,False,2018-12-12T16:09:33Z,False
4,True,None,True,GBP,7265152,Defence and security,None,2019-03-13T16:03:46Z,None,None,...,2463055,Jim Madge,NaN,2018-12-11T11:08:47Z,None,181503646,True,False,2018-12-11T11:08:47Z,False

In [15]:
time_entries.columns

Index(['billable', 'billable_rate', 'budgeted', 'client.currency', 'client.id',
       'client.name', 'cost_rate', 'created_at', 'ended_time',
       'external_reference', 'hours', 'id', 'invoice', 'is_billed',
       'is_closed', 'is_locked', 'is_running', 'locked_reason', 'notes',
       'project.code', 'project.id', 'project.name', 'spent_date',
       'started_time', 'task.id', 'task.name', 'task_assignment.billable',
       'task_assignment.budget', 'task_assignment.created_at',
       'task_assignment.hourly_rate', 'task_assignment.id',
       'task_assignment.is_active', 'task_assignment.updated_at',
       'timer_started_at', 'updated_at', 'user.id', 'user.name',
       'user_assignment.budget', 'user_assignment.created_at',
       'user_assignment.hourly_rate', 'user_assignment.id',
       'user_assignment.is_active', 'user_assignment.is_project_manager',
       'user_assignment.updated_at', 'user_assignment.use_default_rates'],
      dtype='object')

In [16]:
clients = api_to_df('clients')
clients.to_csv('data/harvest/clients.csv')
clients.head()

https://api.harvestapp.com/v2/clients
(19, 7)

,address,created_at,currency,id,is_active,name,updated_at
0,None,2019-03-08T14:05:46Z,GBP,7889179,True,Wellcome Trust,2019-03-08T14:05:46Z
1,None,2019-01-30T11:47:34Z,GBP,7738296,True,TIL,2019-01-30T11:47:34Z
2,None,2019-01-30T10:58:47Z,GBP,7738175,True,Leeds,2019-01-30T10:58:47Z
3,None,2018-12-13T15:30:34Z,GBP,7515887,True,Alan Turing Institute,2018-12-13T15:30:34Z
4,None,2018-11-26T11:24:27Z,GBP,7444895,True,SPF,2018-11-26T11:24:27Z

In [17]:
tasks = api_to_df('tasks')
tasks.to_csv('data/harvest/tasks.csv')
tasks.head()

https://api.harvestapp.com/v2/tasks
(49, 8)

,billable_by_default,created_at,default_hourly_rate,id,is_active,is_default,name,updated_at
0,True,2019-02-04T09:49:17Z,None,11458389,True,False,Research,2019-02-04T09:49:17Z
1,True,2018-12-21T16:59:09Z,None,11186091,True,False,Literature Review,2018-12-21T16:59:09Z
2,True,2018-12-10T15:00:06Z,None,11119890,True,False,Hartree workshop,2018-12-10T15:00:06Z
3,False,2018-11-27T18:34:28Z,None,11020422,True,False,Project work,2018-11-27T18:34:28Z
4,False,2018-11-26T11:24:27Z,None,11008294,True,False,Content generation,2018-11-26T11:24:27Z

In [18]:
projects = api_to_df('projects')
projects.to_csv('data/harvest/projects.csv')
projects.head()

https://api.harvestapp.com/v2/projects
(80, 26)

,bill_by,budget,budget_by,budget_is_monthly,client.currency,client.id,client.name,code,cost_budget,cost_budget_include_expenses,...,is_billable,is_fixed_fee,name,notes,notify_when_over_budget,over_budget_notification_date,over_budget_notification_percentage,show_budget_to_all,starts_on,updated_at
0,none,NaN,none,False,GBP,7394384,Data-centric engineering,,None,False,...,True,False,Uncertainty in Government Modelling,,False,None,80.0,False,2019-04-01,2019-03-12T15:54:37Z
1,none,NaN,none,False,GBP,7515887,Alan Turing Institute,,None,False,...,True,False,Urban systems resilience,,False,None,80.0,False,2019-10-01,2019-03-08T17:05:53Z
2,none,NaN,none,False,GBP,7515887,Alan Turing Institute,,None,False,...,True,False,Urban observatory spatial sampling,,False,None,80.0,False,2019-04-01,2019-03-08T17:04:39Z
3,none,NaN,none,False,GBP,7444895,SPF,,None,False,...,True,False,Turing ML toolbox,,False,None,80.0,False,2018-12-01,2019-03-08T17:02:37Z
4,none,NaN,none,False,GBP,7444895,SPF,,None,False,...,True,False,Synthetic data,,False,None,80.0,False,None,2019-03-08T16:59:58Z

In [19]:
roles = api_to_df('roles')
roles.to_csv('data/harvest/roles.csv')
roles.head()

https://api.harvestapp.com/v2/roles
(10, 5)

,created_at,id,name,updated_at,user_ids
0,2019-03-05T09:29:12Z,495088,example,2019-03-05T09:29:12Z,[]
1,2019-02-27T10:26:23Z,493302,Research Project Manager,2019-02-27T10:26:23Z,[2549582]
2,2019-02-27T10:26:00Z,493301,Project Manager,2019-02-27T10:26:00Z,[]
3,2018-11-07T01:03:32Z,463110,Research Software Engineer,2019-02-15T10:12:38Z,"[2315537, 2443850, 2463055, 2559739, 2563774]"
4,2018-09-25T07:46:58Z,450798,Principal Research Software Engineer,2018-09-25T07:46:58Z,[2360127]

In [20]:
users = api_to_df('users')
users.to_csv('data/harvest/users.csv')
users.head()

https://api.harvestapp.com/v2/users
(26, 21)

,avatar_url,can_create_invoices,can_create_projects,can_see_rates,cost_rate,created_at,default_hourly_rate,email,first_name,has_access_to_all_future_projects,...,is_active,is_admin,is_contractor,is_project_manager,last_name,roles,telephone,timezone,updated_at,weekly_capacity
0,https://cache.harvestapp.com/assets/profile_im...,True,True,True,None,2019-03-11T15:02:28Z,None,jroberts@turing.ac.uk,Jack,False,...,True,True,False,False,Roberts,[Research Data Scientist],,London,2019-03-11T15:24:26Z,144000
1,https://cache.harvestapp.com/assets/profile_im...,True,True,True,None,2019-03-05T07:54:07Z,None,ahoddoon@turing.ac.uk,Amaani,False,...,True,True,False,False,Hoddoon,[Research Data Scientist],,London,2019-03-06T10:49:32Z,144000
2,https://cache.harvestapp.com/assets/profile_im...,True,True,True,None,2019-03-05T07:33:46Z,None,ogiles@turing.ac.uk,Oscar,False,...,True,True,False,False,Giles,[Research Data Scientist],,London,2019-03-08T17:38:30Z,144000
3,https://cache.harvestapp.com/assets/profile_im...,True,True,True,None,2019-02-15T10:12:38Z,None,jdearden@turing.ac.uk,Joel,False,...,True,True,False,False,Dearden,[Research Software Engineer],,London,2019-02-15T10:13:33Z,144000
4,https://cache.harvestapp.com/assets/profile_im...,True,True,True,None,2019-02-13T09:12:28Z,None,khosseini@turing.ac.uk,Kasra,False,...,True,True,False,False,Hosseini,[Research Software Engineer],,London,2019-03-05T06:35:09Z,144000

In [21]:
url = "https://api.harvestapp.com/v2/company"
print(url)
request = urllib.request.Request(url=url, headers=headers)
response = urllib.request.urlopen(request, timeout=5)
responseBody = response.read().decode("utf-8")
jsonResponse = json.loads(responseBody)
print(jsonResponse)

https://api.harvestapp.com/v2/company
{'base_uri': 'https://thealanturinginstitute.harvestapp.com', 'full_domain': 'thealanturinginstitute.harvestapp.com', 'name': 'The Alan Turing institute', 'is_active': True, 'week_start_day': 'Monday', 'wants_timestamp_timers': False, 'time_format': 'hours_minutes', 'plan_type': 'simple-v4', 'expense_feature': False, 'invoice_feature': False, 'estimate_feature': False, 'approval_feature': True, 'clock': '12h', 'decimal_symbol': '.', 'thousands_separator': ',', 'color_scheme': 'orange'}